{% extends "deflor/base.html" %}
{% block title %}
    Домашняя страница
{% endblock title %}

{% block content %}
{% for women in womens %}
<div class="row">
    <div class="col ps-5">
        <div class="content_text pb-3 me-5">
            <h3 class=""> {{ women.title }}</h3>
            <img src="{{ women.photo.url }}" alt="{{ women.title }}">
            <p>
                {{ women.content|linebreaks|truncatechars:550 }}
            </p>
            <div class="d-flex justify-content-end">
                <a href="{{ women.get_absolute_url }}" class="btn btn-primary btn-sm" type="button">Читать пост</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}
